<%- include('../partials/header') %>

<!-- Page 404 -->
<main class="error-container">
    <div class="error-content">
        <h1>Oups, page introuvable !</h1>
        <p>Il semble que la page que vous recherchez n’existe pas ou a été déplacée.</p>
        <img src="/assets/img-background/404.png" alt="Erreur 404 - Page non trouvée">
        <a href="/" class="btn-primary">Retour à l'accueil</a>
    </div>
</main>

<%- include('../partials/footer') %>
