.header-container {
  background-image: url("/assets/img-background/cup-with-coffee-beans-copy-space.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  height: 300px; /* Valeur par défaut pour mobile */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.header-content {
  right: 50px;
}

.header-content h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
  color: var(--bulma-main-text);
}

.header-content p {
  font-size: 1.3rem;
  color: var(--bulma-secondary-text);
  width: 700px;
}

/* Responsive : Tablette */
@media (min-width: 768px) {
  .header-container {
    height: 400px;
  }
}

/* Responsive : Desktop */
@media (min-width: 1024px) {
  .header-container {
    height: 100vh;
  }
}